<template>
  <v-dialog v-model="show" persistent max-width="400px">
    <v-card>
      <v-toolbar color="#f36f32" dark class="px-4">
        <v-toolbar-title>
          {{ selectedCategory && selectedCategory.id ? "UPDATE" : "CREATE" }}
          Category
        </v-toolbar-title>
      </v-toolbar>
      <div class="container px-8 mt-3">
        <v-layout>
          <v-flex class="mr-1">
            <v-text-field
              v-model="category.name"
              label="Name"
              :error-messages="errorMessege.category.name"
              class="required"
              @input="errorMessege.category.name = ''"
            />
          </v-flex>
        </v-layout>
      </div>
      <v-card-actions class="px-8">
        <v-spacer></v-spacer>

        <v-btn color="#f36f32" text @click="show = false">
          Cancel
        </v-btn>

        <v-btn color="#f36f32" text @click="validate()">
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    selectedCategory: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    category: {
      name: null
    },
    errorMessege: {
      category: {
        name: ""
      }
    }
  }),
  computed: {
    show: {
      get() {
        return this.value;
      },
      set(value) {
        return this.$emit("input", value);
      }
    }
  },
  watch: {
    selectedCategory() {
      if (this.selectedCategory && this.selectedCategory.id) {
        this.category.name = this.selectedCategory.name;
      } else {
        this.category.name = null;
      }
    }
  },
  methods: {
    validate() {
      let isValid = true;
      if (!this.category.name) {
        isValid = false;
        this.errorMessege.category.name = "Name Field Required";
      }
      if (isValid) {
        this.submit();
      }
    },
    async submit() {
      if (this.selectedCategory && this.selectedCategory.id) {
        let category = this.category;
        category.id = this.selectedCategory.id;
        this.$store.commit("updateCategory", category);
        this.show = false;
      } else {
        await this.$store.commit("createCategory", this.category);
        this.show = false;
        this.$emit("categoryCreated");
      }
    }
  }
};
</script>
