<template>
  <v-container fluid>
    <common />
    <div class="mt-3 post-create">
      <v-toolbar flat color="white" class="px-0">
        <v-toolbar-title>All Category</v-toolbar-title>
        <v-spacer />
        <v-btn
          color="#f36f32"
          dark
          @click.stop="
            isOpenCreateModal = true;
            selectedCategory = {};
          "
        >
          <v-icon small>mdi-plus</v-icon> Create Category
        </v-btn>
      </v-toolbar>
    </div>
    <div class=" mt-3 post-container">
      <div class="post-title">Name</div>
      <div class="post-action">Action</div>
    </div>
    <div v-if="$store.state.categories.length < 1" class="text-center">
      No Category Yet
    </div>
    <div
      v-for="(item, i) in $store.state.categories"
      :key="i"
      class="post-container"
    >
      <div class="post-title">{{ item.name }}</div>
      <div class="post-action">
        <v-btn
          title="Edit"
          small
          text
          color="#f36f32"
          @click="editCategory(item)"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
        <v-btn
          title="Delet"
          small
          text
          color="#f36f32"
          @click.stop="deleteCategory(item)"
        >
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </div>
    </div>
    <create-category
      v-model="isOpenCreateModal"
      :selected-category="selectedCategory"
    />
  </v-container>
</template>

<script>
import Common from "@/components/Common.vue";
import CreateCategory from "@/components/category/CreateCategory.vue";
export default {
  components: {
    Common,
    CreateCategory
  },
  data: () => ({
    dialog: false,
    isOpenCreateModal: false,
    selectedCategory: {}
  }),
  methods: {
    editCategory(category) {
      this.selectedCategory = category;
      this.isOpenCreateModal = true;
    },
    deleteCategory(category) {
      this.$store.commit("deleteCategory", category.id);
    }
  }
};
</script>

<style lang="stylus" scoped>
.post-create
  max-width 1000px
  margin-left auto
  margin-right auto
  padding 20px 40px
  display flex
  font-size 20px
.post-container
  max-width 800px
  margin-left auto
  margin-right auto
  padding 20px 40px
  display flex
  border-bottom 1px solid rgba(0,0,0,.12)
  font-size 20px
  .post-title
    width 50%
    align-items center
    display flex
  .post-action
    width 50%
    align-items center
    display flex
    justify-content flex-end
</style>
