<template>
  <div class="navigation">
    <router-link to="/">POST</router-link>
    <router-link to="/category">CATEGORY</router-link>
  </div>
</template>

<style lang="stylus" scoped>
.navigation
    z-index 1
    max-width 1000px
    margin-left auto
    margin-right auto
    background-color #fff
    list-style-type none
    display flex
    a
        text-decoration none
        width 50%
        display flex
        align-items center
        justify-content center
        height 66px
        font-size 24px
        border-bottom 3px solid #f4f4f4
        color #575757
        &.router-link-exact-active
            border-bottom 5px solid #f26f31
            color #f26f31
            text-direction none
</style>
