<template>
  <v-container fluid>
    <common />
    <div class="mt-3 post-create">
      <v-toolbar flat color="white" class="px-0">
        <v-toolbar-title>All Post</v-toolbar-title>
        <v-spacer />
        <v-btn
          color="#f36f32"
          dark
          @click.stop="
            isOpenCreateModal = true;
            selectedPost = {};
          "
        >
          <v-icon small>mdi-plus</v-icon> Create Post
        </v-btn>
      </v-toolbar>
    </div>
    <div class=" mt-3 post-container">
      <div class="post-title">Title</div>
      <div class="post-action">Action</div>
    </div>
    <div v-if="$store.state.posts.length < 1" class="text-center">
      No Post Yet
    </div>
    <div
      v-for="(item, i) in $store.state.posts"
      :key="i"
      class="post-container"
    >
      <div class="post-title">{{ item.title }}</div>
      <div class="post-action">
        <v-btn
          title="View"
          small
          text
          color="#f36f32"
          @click="openDetails(item)"
        >
          <v-icon>mdi-launch</v-icon>
        </v-btn>
        <v-btn title="Edit" small text color="#f36f32" @click="editPost(item)">
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
        <v-btn
          title="Delet"
          small
          text
          color="#f36f32"
          @click.stop="deletePost(item)"
        >
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </div>
    </div>
    <create-post v-model="isOpenCreateModal" :selected-post="selectedPost" />
    <post-details v-model="isOpenDetailsModal" :selected-post="selectedPost" />
  </v-container>
</template>

<script>
import Common from "@/components/Common.vue";
import CreatePost from "@/components/post/CreatePost.vue";
import PostDetails from "@/components/post/PostDetails.vue";
export default {
  components: {
    Common,
    CreatePost,
    PostDetails
  },
  data: () => ({
    dialog: false,
    isOpenCreateModal: false,
    selectedPost: {},
    isOpenDetailsModal: false
  }),
  mounted() {
    this.selectedPost = {};
  },
  methods: {
    openDetails(post) {
      this.selectedPost = post;
      this.isOpenDetailsModal = true;
    },
    editPost(post) {
      this.selectedPost = post;
      this.isOpenCreateModal = true;
    },
    deletePost(post) {
      this.$store.commit("deletePost", post.id);
    }
  }
};
</script>

<style lang="stylus" scoped>
.post-create
  max-width 1000px
  margin-left auto
  margin-right auto
  padding 20px 40px
  display flex
  font-size 20px
.post-container
  max-width 800px
  margin-left auto
  margin-right auto
  padding 20px 40px
  display flex
  border-bottom 1px solid rgba(0,0,0,.12)
  font-size 20px
  .post-title
    width 50%
    align-items center
    display flex
  .post-action
    width 50%
    align-items center
    display flex
    justify-content flex-end
</style>
