<template>
  <v-dialog v-model="show" persistent max-width="800px">
    <v-card>
      <v-toolbar color="#f36f32" dark class="px-4">
        <v-toolbar-title>
          {{ selectedPost && selectedPost.id ? "UPDATE" : "CREATE" }} POST
        </v-toolbar-title>
      </v-toolbar>
      <div class="container px-8 mt-3">
        <v-layout>
          <v-flex class="mr-1" md6>
            <v-text-field
              v-model="post.title"
              label="Title"
              :error-messages="errorMessege.post.title"
              class="required"
              @input="errorMessege.post.title = ''"
            />
          </v-flex>
          <v-flex class="ml-1" md6>
            <v-select
              v-model="selectedCategory"
              :items="$store.state.categories"
              :item-value="obj => obj"
              :error-messages="errorMessege.post.category"
              item-text="name"
              label="Category"
              class="required"
              multiple
              clearable
              @input="errorMessege.post.category = ''"
            >
              <template v-slot:prepend-item>
                <v-btn @click="isOpenCreateCategory = true" text>
                  <v-icon>mdi-plus</v-icon>
                  Create New Category
                </v-btn>
              </template>
            </v-select>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex>
            <v-textarea
              v-model="post.body"
              :error-messages="errorMessege.post.body"
              label="Post Body"
              rows="4"
              class="required"
              clearable
              @input="errorMessege.post.body = ''"
            />
          </v-flex>
        </v-layout>
      </div>
      <v-card-actions class="px-8">
        <v-spacer></v-spacer>

        <v-btn color="#f36f32" text @click="show = false">
          Cancel
        </v-btn>

        <v-btn color="#f36f32" text @click="validate()">
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
    <create-category
      v-model="isOpenCreateCategory"
      @categoryCreated="categoryCreated()"
    />
  </v-dialog>
</template>

<script>
import CreateCategory from "@/components/category/CreateCategory.vue";
export default {
  components: {
    CreateCategory
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    selectedPost: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    post: {
      title: null,
      category: [],
      body: null
    },
    selectedCategory: [],
    isOpenCreateCategory: false,
    errorMessege: {
      post: {
        title: "",
        category: "",
        body: ""
      }
    }
  }),
  computed: {
    show: {
      get() {
        return this.value;
      },
      set(value) {
        return this.$emit("input", value);
      }
    }
  },
  watch: {
    selectedPost() {
      if (this.selectedPost && this.selectedPost.id) {
        this.post.title = this.selectedPost.title;
        this.post.body = this.selectedPost.body;
        this.selectedCategory = this.selectedPost.category;
      } else {
        this.post.title = null;
        this.selectedCategory = [];
        this.post.body = null;
      }
    }
  },
  methods: {
    validate() {
      this.post.category = this.selectedCategory;
      let isValid = true;
      if (!this.post.title) {
        isValid = false;
        this.errorMessege.post.title = "Title Field Required";
      }
      if (this.post.category.length < 1) {
        isValid = false;
        this.errorMessege.post.category = "Category Field Required";
      }
      if (!this.post.body) {
        isValid = false;
        this.errorMessege.post.body = "Body Field Required";
      }
      if (isValid) {
        this.submit();
      }
    },
    submit() {
      if (this.selectedPost && this.selectedPost.id) {
        let post = this.post;
        post.id = this.selectedPost.id;
        this.$store.commit("updatePost", post);
        this.show = false;
      } else {
        this.$store.commit("createPost", this.post);
        this.show = false;
      }
      this.selectedCategory = [];
    },
    categoryCreated() {
      this.selectedCategory.push(
        this.$store.state.categories[this.$store.state.categories.length - 1]
      );
    }
  }
};
</script>
