<template>
  <v-dialog v-model="show" persistent max-width="800px">
    <v-card>
      <v-toolbar color="#f36f32" dark class="px-4">
        <v-toolbar-title>
          POST DETAILS
        </v-toolbar-title>
      </v-toolbar>
      <div class="container px-8 mt-3">
        <v-layout>
          <h1>Title: {{ selectedPost.title }}</h1>
        </v-layout>
        <v-layout class="mt-2">
          <h4>
            Categories:
            <span v-for="(item, i) in selectedPost.category" :key="i">
              {{ item.name }} |
            </span>
          </h4>
        </v-layout>
        <v-layout class="mt-8">
          <v-flex>
            <p><span class="bold-text">Body: </span>{{ selectedPost.body }}</p>
          </v-flex>
        </v-layout>
      </div>
      <v-card-actions class="px-8">
        <v-spacer />
        <v-btn color="#f36f32" text @click="show = false">
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    selectedPost: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    show: {
      get() {
        return this.value;
      },
      set(value) {
        return this.$emit("input", value);
      }
    }
  }
};
</script>
