<template>
  <v-app>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data: () => ({
    //
  })
};
</script>

<style lang="stylus">
.mt-3
  margin-top 30px
.mr-1
  margin-right 5px
.mr-2
  margin-right 10px
.ml-1
  margin-left  5px
.required label::after
    content: " *"
    color: #f44336
.bold-text
  font-weight 600
  color #000
</style>
